langchain
langchain-community
langchain-openai
langchain-huggingface
langchain-text-splitters
langchain-chroma
langchain-groq

chromadb
faiss-cpu
sentence-transformers
huggingface_hub

pypdf
pymupdf
bs4
arxiv
wikipedia
youtube-transcript-api
unstructured
pytube
duckduckgo-search
validators==0.28.1

openai
python-dotenv
ipykernel
duckdb
pandas
numexpr
mysql-connector-python
SQLAlchemy
